
.backgroundStyle{
  background: rgb(28, 28, 28);
}

.logo{
  width: 12%;
  margin-bottom: 1%;
}

.forPC{
  display: block;
}

.forCellphone{
  display: none;
}

.titulo{
  color: rgba(193,220,0);
  font-weight: bold; 
  margin-bottom: 2%;
}

.detail{
  position: absolute;
  z-index: 0;
  right: 2%;
  margin-top: 25%;
  width: 25%;
}

.detail2{
  position: absolute;
  z-index: 0;
  left: 0;
  margin-top: 2%;
  width: 15%;
  margin-left: 8%;
}

/*///////////////////  SELECIONAR  /////////////////////       transform: rotate(270deg);*/

#_SelectedImagePlace{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

#_SelectedImageBack{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: rgba(104, 104, 104, 0.5);}

.selectedImageFront{
  z-index: 4;
  position: fixed;
}

#_SelectedImage{
  width: 75%;
  margin-left: -5%;
}

.setasImagens{
  width: 10%;
  cursor: pointer;
  margin-top: 15%;
}

#_SelectedSetaDireita{
 margin-left: 5%;
}

#_SelectedIconImage{
  width: 7%;
  margin-left: -4%;
  margin-top: 1%;
  z-index: 5;
}

.setasTelefone{
  width: 15%;
  z-index: 3;
  position: absolute;
}

#_SetaTelefoneE{
  margin-top: 35%;
  margin-left: 2%;
}

#_SetaTelefoneD{
  margin-top: 35%;
  margin-left: 26%;
}

#_SelectedImagePlaceTelefone{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  z-index: 4;
}

#_SelectedImagemSair{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(104, 104, 104, 0.8);
  z-index: 4;
}

.lateral{
  transform: rotate(270deg);
  z-index: 5;
  transform-origin: center;
  position: absolute;
}

.setasTelefoneSelecionada{
  left: 35%;
  padding: 5%;
  width: 30%;
}

#_ImagemSelecionadaTelefone{
  top: 35%;
  width: 110%;
  left: -5%;
}

/*/////////////////////////////////////////////////////*/

/*/////////////////////  GRID  ////////////////////////*/

.galeria {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  z-index: 1;
}

.galeria_i {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria_i--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;}

.galeria_i--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;}

.galeria_i--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;}

.galeria_i--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;}

.galeria_i--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;}

.galeria_i--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;}

.imgColor  {background-color: rgba(193,220,0)}

.imgColor img:hover {
  opacity:0.3;
  transition: 0.6s;
  cursor: pointer;}

.circuloImagem img:hover{
  position: absolute; 
  top: 50%;
  left: 50%;
}

/*////////////////// SERVICOS //////////////////////*/

.servicos{
  margin-top: 5%;
  margin-bottom: 5%;
  border-top: 2px solid rgba(193,220,0);
  border-bottom: 2px solid rgba(193,220,0);
  padding-bottom: 1%;
  padding-top: 1%;
}

.servico {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgb(40, 40, 40);
}

.iconServico{
  width: 80%;
  padding-left: 23%;
  padding-right: 23%;
  margin-top: 10%;
  padding-bottom: 8%;
  margin-left: 10%;
  margin-right: 10%;
}

.tituloServicos{
  color: rgba(193,220,0);
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-size:5vw;
  margin-bottom: 8%;
}

.textoServicos{
  margin-left: 8%;
  margin-right: 8%;
  color: white;
  font-size:4vw;
  margin-bottom: 5%;
}

.linhaBranca{
  border-bottom: 1px solid white;
  padding-bottom: 8%;
  margin-bottom: 8%;
}

.setasServicos{
  width: 100%;
  margin-top: 200%;
}

.setasServicos:hover{
 cursor: pointer;
}

.colServicos{
  border-radius: 10px;
  width: 100%;
}

/*//////////////////////////////////////////////////*/

/*//////////////////  CONTACTOS  ///////////////////*/

.contactosEffect{
  background-image: url(../image/footerBack.png);
  background-repeat: no-repeat;
  background-size:cover;
}

#_ContactoInfoPlace{
  background-color: white;
  margin-top: -5%;
  padding-bottom: 1%;
  padding-top: 2%;
}

.tituloContacto{
  padding-top: 5%;
  padding-bottom: 3%;
  margin-top: 8%;
  margin-left: 13%;
  color: rgba(193,220,0);
  font-weight: bold;
  border-bottom: 2px solid rgba(104, 104, 104);
}

.contactoIcons{
  width: 3%;
  margin-right: 2%;
}

.primeiraColContactos{
  margin-left: -15%;
}

.segundaLinhaInfo{
  margin-left: 5%;
}

.contactosMargin{
  padding-left: 13%;
  padding-right: 13%;
}

.contactoMapa{
  width: 100%;
  height: 300px;
}

.textoContactoTelefone{
  font-size: 3vw;
}

.botaoMapa{
  background-color: rgba(193,220,0);
  color: white;
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 22%;
  border: none;
  border-radius: 8px;
  margin-left: -2%;
}

.horario{
  margin-top: 10%;
  text-align: center;
  margin-right: 18%;
}

.contactoMapaTelefone{
  width: 100%;
  height: 250px;
  padding: 8%;
}


/*//////////////////////////////////////////////////*/

@media(max-width: 667px) {
  .imagemSelecionadaTelefone {
    left: 0%;
    bottom: 38%;
}
}

/*//////////////////////////////////////////////////*/

  @media screen and (max-width: 768px) { /* PHONE */

    body {
      padding: 0;
     }

    .logo{
      width: 35%;
      margin-bottom: 2%;
    }

    .imagensTelefone{
      width: 85%;
    }

    .servicos{
      margin-top: 5%;
    }

    .forPC{
      display: none;
    }

    .forCellphone{
      display: block;
    }

    .titulo{
      padding-top: 10%;
      padding-bottom: 10%;
      font-size: 7vw;
    }

    .servicos{
      padding-top: 7%;
      z-index: 4;
    }

    .tituloContacto{
      margin-left: 30%;
      padding-top: 15%;
    }

    .contactoIcons{
      width: 8%;
      margin-right: 5%;
    }

    .segundaLinhaInfo{
      margin-left: 13%;
    }

    .detail{
      margin-top: 220%;
      margin-right: 25%;
    }
  }

  @media screen and (max-width: 375px) { 
    #_ImagemSelecionadaTelefone{
      top: 33%;
      width: 110%;
      left: -5%;
    }
  }
  

  /* https://www.jcdecaux.pt/ https://bigprint.pt/ */
